/* :root {
  --color-dark: #121521;
  --color-middle: #1B213A;
  --color-light: #40467C;

  --font-basic: 'Darker Grotesque', sans-serif;
  --font-heading: 'Josefin Sans', sans-serif;
} */

@font-face {
  font-family: 'Darker_Grotesque_Regular';
  src: url(/fonts/Darker_Grotesque/DarkerGrotesque-Regular.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Darker_Grotesque_Medium';
  src: url(/fonts/Darker_Grotesque/DarkerGrotesque-Medium.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin_Sans_Regular';
  src: url(/fonts/Josefin_Sans_Regular/static/JosefinSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Darker_Grotesque_Semibold';
  src: url(/fonts/Darker_Grotesque/DarkerGrotesque-SemiBold.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  width: 1170px;
  box-sizing: border-box;
  margin: 0 auto;

}

body {
  margin: 0;
  overflow-x: hidden;
}



a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.jc-sb {
  display: flex;
  justify-content: space-between;

}

.jc-center {
  display: flex;
  justify-content: center;
}

.jc-start {
  display: flex;
  justify-content: start;
}

.fd-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.a-center {
  display: flex;
  align-items: center;
}

.d-grid {
  display: grid;
}

.repeat-2fr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

body {
  margin: 0;
  font-family: "Darker Grotesque", "sans-serif";
  background-color: #141923;
  /* overflow-x: hidden; */
}

h1 {
  color: #fff;
  font-family: 'Josefin_Sans_Regular';
  line-height: 60px;

}

h2 {
  font-family: 'Josefin_Sans_Regular';
  font-size: 46px;
  line-height: 46px;
  font-weight: 400;
  color: #fff;


}

h3 {
  font-family: 'Darker_Grotesque_Regular';
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

h4 {
  font-family: 'Darker_Grotesque_Semibold';
  font-size: 18px;
  line-height: 38px;
  font-weight: 600;
  color: #fff;
}



/*menu*/

.page-header {
  height: 140px;


}

.mainmenu {
  width: 703px;
  font-family: 'Darker_Grotesque_Medium';

}

.mainmenu__item a {
  color: #fff;
}

/*main*/

.main-contant {
  height: 800px;
  margin-top: 185px;


}

.main img {
  position: absolute;
  left: 550px;
  top: 140px;

}

.main p {
  color: #B2B2D3;
  font-style: 20px;
  line-height: 27.12px;
}

.main-contant__button {
  width: 260px;


}

.button__blue,
.button__transparent {
  width: 120px;
  height: 38px;
  margin-top: 140px;
  font-family: 'Darker_Grotesque_Semibold';
  font-size: 13px;
  color: #fff;

}


.button__blue {
  background-color: #40467C;
}

.button__transparent {
  border: 1px solid #fff;
}


/*experience*/

.experience {
  margin-top: -100px;
  height: 524px;
}

.experience-presentation {
  background-image: url(../images/open-air-picture.jpg);
  background-size: cover;
  width: 50%;

}

.experience-presentation div {
  width: 57px;
  height: 60px;
  background-color: #40467C;

}

.experience-presentation__play {
  margin: 0 auto;

}

.experience-presentation__play img {

  width: 17px;
  height: 25px;
}

.experience-conditions {
  background-color: #1B213A;
  width: 50%;
  height: 480px;
  margin: 0 auto;
  padding-left: 30px;


}





.experience-conditions__plus {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}



.experience-conditions__plus p {
  font-family: 'Darker_Grotesque_Regular';
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #fff;
  color: #B2B2D3;
}

/*location*/

.location>div {
  height: 60px;
}

.location-buttons {
  width: 120px;
}

.location-buttons__left img {
  transform: rotate(180deg);
}

.location-buttons__left,
.location-buttons__right,
.row-button__left,
.row-button__right {
  width: 55px;
  height: 60px;
  border: 1px solid #40467C;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-buttons__left:hover,
.location-buttons__right:hover,
.row-buttons__left:hover,
.row-buttons__right:hover {
  background-color: #40467C;
}

.choosing {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  overflow-x: hidden;

}

.choosing-location {
  height: 40px;
  margin-top: 10px;

}

.choosing-location img {
  height: 400px;


}

.choosing-location h5 {
  color: #B2B2D3;
  font-family: Darker Grotesque;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;


}

.choosing-location p {
  color: #fff;


}

.choosing-location__rating {
  width: 40px;

}

.choosing-location__rating img {
  height: 15px;
}

.choosing-location__rating p {
  color: #fff;
}

.choosing img {

  height: auto;
  width: 100%;
}


/*info*/
.info {
  background-color: #1B213A;
  margin-top: 600px;
  height: 845px;


}

.info-block {
  margin-top: 60px;
}

.info-block__accordion {
  width: 540px;
  height: 280px;
  border: 1px solid #fff;
  position: relative;
  padding-top: 30px;
  padding-left: 30px;

}

.accordion-img {
  position: absolute;
  top: 40px;
  right: 30px;



}






.info-block__accordion p {
  font-family: 'Darker_Grotesque_Regular';
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #fff;
  color: #B2B2D3;
}

.info-img {
  position: absolute;
  left: 700px
}

.accordion-second,
.accordion-third {
  width: 540px;
  height: 100px;
  border: 1px solid #40467C;
  position: relative;

  margin-left: 0px;

}


/*Gallery*/

.gallery {
  background-color: #141923;
  padding-top: 100px;
}

.gallery-header,
.gallery-header__header {
  height: 100px;
}

.gallery-header__header {
  width: 600px;

}

.gallery-header__header p {
  font-family: "Darker Grotesque";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #B2B2D3;
}

.gallery-header__header span {
  color: #fff;
  font-weight: 600;
}

.gallery-photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

}


.big {
  width: 600px;
  height: 630px;
}

.small {
  width: 290px;
  height: 300px;
}

.gallery-photos__photos:nth-child(1) {
  margin-top: -320px;
  grid-row: 2/2;
}

.gallery-photos__photos:nth-child(2) {
  grid-column: 2;

}

/*reviews*/

.reviews {
  border-color: #141923;
  

}

.reviews h2 {
  margin-top: -230px;
}

.column-button {
  margin-top: 200px;
}

.column-button__left,
.column-button__right {
  width: 55px;
  height: 60px;
  border: 1px solid #40467C;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 25px;

}


.column-button__left:hover,
.column-button__right:hover {
  background-color: #40467C;
}

.column-button__left {
  transform: rotate(270deg);
}

.column-button__right {
  transform: rotate(90deg);
}

.reviews-info__block {
  width: 500px;
  height: 250px;
  background-color: #1B213A;
  padding: 40px;
  margin-bottom: 20px;
  margin-right: 20px;
  
}

.reviews-info__block p {
  font-family: "Darker Grotesque";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #B2B2D3;

}